<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sd="http://www.w3.org/1999/xhtml">

<head th:replace="/fragment :: header">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="fragment :: sideBar"></ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragment :: topBar"></nav>
                <!-- End topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div th:if="${size == 0}">
                        <p class="text-center">No category</p>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add new category</button>
                    <br> <br>
                    <div th:if="${success}" class="text-center alert alert-success">
                        <p th:text="${success}"></p>
                    </div>
                    <div th:if="${failed}" class="text-center alert alert-danger">
                        <p th:text="${failed}"></p>
                    </div>

                    <table class="table table-striped" th:if="${size > 0}">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Is_activated</th>
                            <th scope="col">Is_delete</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categories}" th:object="${category}">
                            <td th:text="${category.id}"></td>
                            <td th:text="${category.name}"></td>
                            <td th:text="${category.is_activated}"></td>
                            <td th:text="${category.is_delete}"></td>
                            <td>
                                <a id="editButton" th:href="@{/findById/(id=${category.id})}" class="btn btn-primary">Update</a>
                                <a th:if="${category.is_activated}==true" th:href="@{/delete-category/(id=${category.id})}" class="btn btn-danger">Delete</a>
                                <a th:if="${category.is_activated}==false" th:href="@{/enable-category/(id=${category.id})}" class="btn btn-secondary">Enable</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End of table -->

                </div>
                <!-- /.container-fluid -->

                <!-- Begin table -->

            </div>
            <!-- footer -->
            <footer th:replace="fragment :: footer"></footer>
            <!-- End of foooter -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="fragment :: scroll"></a>

    <!--Logout model -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form th:action="@{/new-category}" method="post" th:object="${categoryNew}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="mb-3">
                            <label for="name" class="form-label">Category name:</label>
                            <input type="text" id="name" placeholder="Enter category name"
                                   class="form-control" th:field="*{name}">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        </form>
    </div>

    <!-- Change name modal -->

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalCategory" aria-hidden="true">
        <form th:action="@{/update-category}" method="put">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="idEdit" class="form-label">ID:</label>
                            <input type="text" id="idEdit" placeholder="Enter category name"
                                   class="form-control" name="id" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="nameEdit" class="form-label">Category name:</label>
                            <input type="text" id="nameEdit" placeholder="Enter category name"
                                   class="form-control" name="name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save change</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="fragment :: script"></div>
    <script th:src="@{/js/categories.js}"></script>

</body>

</html>